<a href="https://colab.research.google.com/github/bskkarthik/DemoRepo/blob/master/Regression_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf
print(tf.__version__)

2.0.0

In [0]:
from tensorflow import keras
from tensorflow.keras import layers
import pandas as pd
import seaborn as sns

In [12]:
dataset_path = keras.utils.get_file("housing.data", "http://archive.ics.uci.edu/ml/machine-learning-databases/housing/housing.data")
dataset_path

'/root/.keras/datasets/housing.data'

In [13]:
column_names = ['CRIM','ZN','INDUS','CHAS','NOX','RM', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'MEDV']
raw_dataset = pd.read_csv(dataset_path, names=column_names, na_values = "?", comment='\t',sep=" ", skipinitialspace=True)
dataset = raw_dataset.copy()
dataset.tail()

              CRIM  ZN  INDUS   CHAS   NOX  ...    RAD   TAX  PTRATIO     B  MEDV
0.06263 0.0  11.93   0  0.573  6.593  69.1  ...  273.0  21.0   391.99  9.67  22.4
0.04527 0.0  11.93   0  0.573  6.120  76.7  ...  273.0  21.0   396.90  9.08  20.6
0.06076 0.0  11.93   0  0.573  6.976  91.0  ...  273.0  21.0   396.90  5.64  23.9
0.10959 0.0  11.93   0  0.573  6.794  89.3  ...  273.0  21.0   393.45  6.48  22.0
0.04741 0.0  11.93   0  0.573  6.030  80.8  ...  273.0  21.0   396.90  7.88  11.9

[5 rows x 12 columns]